<div *ngIf="selectedPlayer" class="player-card">
  <div class="player-content">
    <div class="player-left">
      <img [src]="selectedPlayer.foto" alt="foto" class="player-photo">

      <h2 class="player-name">
        {{ selectedPlayer.nombre }} {{ selectedPlayer.apellidos }}
      </h2>

      <p><strong>Posición:</strong> {{ selectedPlayer.posicion }}</p>
      <p><strong>Edad:</strong> {{ selectedPlayer.edad }}</p>
      <p><strong>Altura:</strong> {{ selectedPlayer.altura }} cm</p>
      <p><strong>Equipo:</strong> {{ selectedPlayer.equipo }}</p>
      <button class="close-btn" (click)="onClearSelection()">
  ❌ Cerrar
</button>

    </div>
  </div>
</div>