:host {
  display: block;
  width: 100%;
}
/* Centrar el contenido de la columna izquierda */
.col-12.col-md-4.col-lg-3 {
  display: flex;
  justify-content: right;
}

/* Hacer que app-players NO ocupe todo el ancho */
app-players {
  width: 100%;
  max-width: 500px; /* ajusta a tu gusto */
  margin-left: 50px; /* ajusta a tu gusto */
}
@media (min-width: 992px) {
  .media-floating {
    position: relative !important;
    z-index: 999;
    /* Movemos el video 240px a la izquierda para que entre en el padding de la tarjeta */
    margin-left: -340px !important; 
    
    flex: 0 0 250px !important;
    max-width: 250px !important;
    pointer-events: none;
  }

  app-media {
    pointer-events: auto; /* El video sí recibe clics */
    display: block;
   
  }
}
